$font-color: #666;
$font-color2: #555;
body {
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    background: url("./images/bg01.png");
    font-size: 14px;
    color: $font-color;
    font-weight: 500;
}

footer {
    padding: 5px;
    padding-bottom: 15px;
}

.main {
    background: white;
    h1 {
        font-size: 25px;
        text-align: center;
    }
}

.side {
    margin-top: 10px;
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    .menu {
        a {
            color: $font-color;
        }
        ul {
            padding: 0;
            li {
                margin-bottom: 5px;
                list-style: none;
                // OFは ...
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &::before {
                    content: "";
                }
            }
        }
    }
    .social-icon-list {
        a {
            font-size: 18px;
            color: $font-color;
        }
        ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                list-style: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .tag-list {
        .badge {
            background: $font-color;
        }
    }
    #TableOfContents {
        &>ul {
            padding: 0;
            &>li {
                list-style: none;
            }
        }
    }
    /* xs */
    @media only screen and (max-width: 768px) {
        #TableOfContentsWrapper {
            position: static !important;
        }
    }
}

.list {
    .entry {
        margin-top: 20px;
        .entry-meta {
            font-size: 12px;
        }
        .entry-title {
            font-size: 20px;
            margin-top: 0px;
            a {
                color: $font-color2;
            }
        }
        .entry-summary {
            h1,
            h2,
            h3,
            h4 {
                font-size: 14px !important;
            }
        }
    }
}

.single {
    line-height: 1.6em;
    font-size: 15px;
    color: $font-color2;
    h1 {
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 25px;
        text-align: center;
    }
    h2 {
        font-size: 24px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #888;
    }
    h3 {
        font-size: 20px;
    }
}

.disqus {
    margin-top: 40px;
}

.pagenator {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    &:not(:first-child) {
        margin-top: 30px;
    }
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    &>div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.site-title {
    a {
        color: $font-color2;
    }
    font-size: 22px;
    text-align: center;
}

.logo {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.google-custom-search-wrapper * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/* Highlight.js overwrite */

.hljs-line-numbers {
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    padding: 4px;
}

pre code {
    white-space: pre;
}

pre {
    position: relative;
}

.hljs-language-tag-wrapper {
    display: block;
    background: #002b36;
    .hljs-language-tag {
        display: inline-block;
        color: #839496;
        padding: 2px 8px;
    }
    .hljs-copy-button {
        display: inline-block;
        float: right;
        color: white;
        padding: 2px 8px;
        cursor: pointer;
        &:hover {
            background-color: rgba(238, 102, 17, 1);
        }
    }
}